<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--判断系统配置获取是否获取数据库配置。值包括： true，false,默认为true获取数据库配置
      获取数据库配置时，如果出现相同key，会以数据库的配置为主-->
  <add key="GetDbConfig" value="true"/>
  <!--用户登录信息存储的位置Session or Cookie-->
  <add key="LoginProvider" value="Session"/>
  <!--系统用户的默认密码,这里建议初始时配置，修改配置后，只对之后新加的用户生效-->
  <add key="defaultPassword" value="123456"/>

  <!--默认数据库连接信息配置的key值-->
  <add key="defaultDbKey" value="dbconn" />
  <!--数据库连接字符串是否经过加密处理-->
  <add key="dbconnEncrypt" value="false" />

  <!--当前系统的标记，在记录日志时会使用到，与字典表的配置要对应起来-->
  <add key="systemFlag" value="thisSystem"/>
  <!--日志记录的方式：db,file,目前先写这两种方式，如果两种都需要记录的话，直接用逗号隔开即可。-->
  <add key="logSaveType" value="db"/>
</appSettings>
