<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--根据providerName识别使用到的数据库，目前框架支持的数据库有：
      System.Data.SqlClient   ： SqlServer   支持
      System.Data.SQLite      :  Sqlite      |DataDirectory|表示“App_Data”目录
      System.Data.OracleClien :  Oracle      支持
      MySql.Data.MySqlClien   :  MySql       支持
  -->
  <add name="dbconn" connectionString="Server=.;Uid=sa;Pwd=qazwsx123;Database=MiniAppDB;Max Pool Size=1000; Pooling=true; Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  <!--<add name="dbconn" connectionString="Data Source=|DataDirectory|\\DataBase\\Test.db;Pooling=true;FailIfMissing=false" providerName="System.Data.SQLite" />
  <add name="dbconn" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=119.167.153.8)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcldb)));User Id=schz; Password=schz123;Unicode=True" providerName="System.Data.OracleClien" />
  <add name="dbconn" connectionString="Database=schzdb;Data Source=localhost;User Id=schz;Password=lt92schz;charset=utf8;pooling=true" providerName="MySql.Data.MySqlClien" />-->
</connectionStrings>
